
<div class="col-m-4" style="margin: auto; max-width: 550px;">
    
    <form [formGroup]="form" class="m-5" (ngSubmit)="login($event)">
        
        <h1>Iniciar Sesión</h1>

        <div class="mb-3 ">
            <label for="email" class="form-label">Dirección de correo electrónico:</label>
            <input type="email" 
                autocomplete="email" 
                formControlName="username" 
                class="form-control" id="email" 
                aria-describedby="emailHelp"
                [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"
            >
            <div *ngIf="Email?.errors && Email?.touched">
                <p *ngIf="Email?.hasError('required')" class="text-danger">El email es requerido</p>
                <p *ngIf="Email?.hasError('email')" class="text-danger">El formato debe ser válido</p>
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
        <div class="input-group mb-3">
            
            <input [type]="showPass ? 'text' : 'password'" 
                autocomplete="current-password" 
                formControlName="password" 
                class="form-control" 
                id="password"
                [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
            >
            <span class="input-group-text" id="basic-addon1">
                <button (click)="showPassword($event)" 
                    [ngClass]="{'fa-eye': !showPass, 'fa-eye-slash': showPass}" class="btn fa-solid"
                >
                </button>
            </span>
        </div>
            <div *ngIf="Password?.errors && Password?.touched || isLoginFailed">
                <p *ngIf="Password?.hasError('required')" class="text-danger">La contraseña es requerida</p>
                <p *ngIf="isLoginFailed" class="text-danger">La contraseña o el usuario son incorrectos, intente nuevamente</p>
            </div>
        </div>
        
        <div *ngIf="!isLoggedIn">
            <button type="submit" 
                class="col-sm-6 mb-2 btn btn-primary" 
                style="width: 100%;"
                [ngClass]="{'disabled': Password?.errors || Email?.errors || isLoggedIn }">
                Iniciar Sesión
            </button>
        </div>
        <div>
            <button type="button" 
                class="col-sm-6 mb-2 btn btn-secondary"
                style="width: 100%;" 
                (click)="volver()">
                Volver
            </button>
            <p class="text-danger" *ngIf="isLoggedIn">Usted ya se encuentra logueado</p>
        </div>
        <app-loader style="color:aliceblue;" *ngIf="loading">
        </app-loader>
    </form>
</div>