<div class="modal fade" id="modal-intereses">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h4 class="modal-title">INTERESES</h4>
       
        <button type="button" id="btn-modal" class="btn fa-solid fa-lg fa-close" data-bs-dismiss="modal"></button>
        
      </div>
      <div class="modal-body bg-dark">
        <app-intereses-form 
        class="mb-5"
        *ngIf="showForm" 
        (actualizarValor)="modifyComponent($event)"
        ></app-intereses-form>
        <app-loader *ngIf="loading">
        </app-loader>
        <span *ngFor="let interes of intereses">
          <button class="pt-1 rounded bg-white" clickable="none">
            {{interes.nombre}}
            <button class="btn fa-solid fa-trash-can fa-sm float-end pt-2" (click)="deleteItem(interes)" *ngIf="validate">
            </button>
          </button>
        </span>
      </div>
      <a *ngIf="validate" class="bg-dark p-2">
        <button type="button" id="btn-agregar" class="btn fa-solid fa-lg fa-add float-end" (click)="addItem()">
        </button>
      </a>
    </div>
  </div>
</div>