<div class="modal fade" id="modal-intereses">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h4 class="modal-title">INTERESES</h4>
        <button type="button" id="btn-modal" class="btn fa-solid fa-lg fa-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body bg-dark">
      <span class="habilidad">Rock Nacional <button class="habilidad-cierre">x</button></span>
      <span class="habilidad">Novelas negras <button class="habilidad-cierre">x</button></span>
      <span class="habilidad">Informatica <button class="habilidad-cierre">x</button></span>
      <span class="habilidad">Computacion <button class="habilidad-cierre">x</button></span>
      <span class="habilidad">Noticias <button class="habilidad-cierre">x</button></span>
      <span class="habilidad">Musica en general <button class="habilidad-cierre">x</button></span>
      <div><a href="#" class="btn float-end fa-solid fa-pencil"></a> </div>
      </div>
    </div>
  </div>
</div>