<form id="estudios-form"
[formGroup]="estudiosForm"
(ngSubmit)="modifyComponent()"
>
    <label for="estudios-titulo">Titulo</label><br>
    <input
        type="string" 
        id="estudios-titulo" 
        style="width:50%" 
        class="m-2"
        required
        formControlName="titulo"><br>

    <label for="estudios-institucion">Establecimiento</label><br>
    <input
        type="string" 
        id="estudios-institucion" 
        style="width:50%" 
        class="m-2"
        required
        formControlName="institucion"><br>


    <label for="estudios-lugar">Lugar</label><br>
    <input
        type="string" 
        id="estudios-lugar" 
        style="width:50%" 
        class="m-2"
        formControlName="lugar"><br>

    <label for="estudios-nivel">Nivel educativo</label><br>
    <input
        type="string" 
        id="estudios-nivel" 
        style="width:50%" 
        class="m-2"
        required
        formControlName="nivel"><br>

    <label for="estudios-fecha-inicio">Fecha de Inicio</label><br>
    <input
        type="date" 
        id="estudios-fecha-inicio"
        style="width:50%" 
        class="m-2"
        required
        formControlName="fechaInicio"><br>

    <label for="estudios-fecha-fin">Fecha de Finalizacion</label><br>
    <input
        type="date" 
        id="estudios-fecha-fin" 
        style="width:50%" 
        class="m-2"
        formControlName="fechaFin"><br>

    <label for="estudios-promedio">Promedio</label><br>
    <input
        type="number"
        max="10"
        min="0" 
        style="width:50%" 
        id="estudios-promedio" 
        class="m-2"
        formControlName="promedio"><br>

    <label for="estudios-link">Link de institucion</label><br>
    <input
        type="text"
        id="estudios-link" 
        style="width:50%" 
        class="m-2"
        formControlName="link"><br>

    
    <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!estudiosForm.valid"
    >
    Guardar
    </button>
</form>
