<div id="expertize-card" class="card">
  <div class="row"> 
    <div class="col-6"><h3>Experiencia Laboral</h3></div>
    <div class="col-6">
      <button (click)="desplegar()" class="btn fa-solid float-end fa-chevron-up toggle"></button>
      <a href="portfolio#info-foto" class="btn float-end fa-solid fa-home"></a>
      <button 
        *ngIf="usuarioAutenticado"
        data-bs-toggle="modal" 
        data-bs-target="#experienciasModal" 
        class="btn float-end fa-solid fa-add" 
        (click)="addItem()">
      </button>
    </div>
    <app-experiencia-laboral-form 
      class="mb-5"
      [isLoading]="loading"
      [editarExperiencia]="experiencia"
      (actualizarValor)="modifyComponent($event)">
    </app-experiencia-laboral-form>

    <div *ngIf="!isHidden">
      <div class="row lh-1 mt-4"  *ngFor="let experiencia of experiencias">
    <hr>
    <div class="col-sm-10">
      <ul>
      <li>
        <div>
          <h4>{{experiencia.nombre}}</h4>
        </div>
        <div>
          <p><b>Empresa: </b>{{experiencia.empresa}}</p>
        </div>
        <div>
          <p><b>Tareas Realizadas: </b>{{experiencia.tareas}}</p></div>
        <div>
          <p>
            <b>Desde: </b>
            {{experiencia.fechaInicio | date:"MM/yyyy"}}
            <span *ngIf="experiencia.fechaFin !== ''; else elseBlock"><b>Hasta: </b>{{experiencia.fechaFin | date:"MM/yyyy"}}</span>
            <ng-template #elseBlock><span><b>Hasta: </b>actualidad</span></ng-template>
          </p>
        </div>
        <div>
          <p>
            <b>Lugar: </b>
            {{experiencia.lugar}}
          </p>
        </div>
        <a *ngIf="experiencia.link" [href]="'https://' + experiencia.link" target="_blank">Link</a>
      </li>
      </ul>
    </div>
    <div class="col-sm-2">           
      <button 
        *ngIf="usuarioAutenticado" 
        class="btn ms-3 float-end" 
        data-bs-toggle="modal" 
        data-bs-target="#experienciasModal" 
        (click)="editItem(experiencia)">
        <span 
          class="fa-solid fa-lg fa-pencil">
        </span>
      </button>
      <button *ngIf="usuarioAutenticado" class="btn ms-5 float-end" (click)="deleteItem(experiencia)">
        <span class="fa-solid fa-lg fa-trash-can" ></span>
      </button>        
  </div>
  </div>
</div>
</div>
</div>
