<div id="aboutme-card" class="card">
  <div class="row"> 
    <div class="col-6">
        <h3>Acerca de mi</h3>
    </div>
    <div class="col-6">
      <button id="chevron-acerca" (click)="desplegar()" 
      [ngClass]="arrow">
      </button>
      <a href="#info-foto" class="btn float-end fa-solid fa-home"></a>
      <a *ngIf="validate" href="#" (click)="editItem(general[0])" class="btn float-end fa-solid fa-pencil">
      </a>        
    </div>
  </div>
  <div *ngIf="!isHidden" class="row">
    <hr>
    <div class="col-sm-12">
      <p style="text-indent:2rem;">{{general[0].acercademi}}
      </p>
    </div>
  </div>
</div>
