<div id="aboutme-card" class="card">
  <div class="row"> 
    <div class="col-6">
        <h3>Acerca de mi</h3>
    </div>
    <div class="col-6">
      <button id="chevron-acerca" onclick="desplegar('acerca-visible','chevron-acerca')" 
        class="btn fa-solid float-end fa-chevron-up">
      </button>
      <a href="#info-foto" class="btn float-end fa-solid fa-home"></a>
      <a href="#" class="btn float-end fa-solid fa-pencil">
      </a>        
    </div>
  </div>
  <div id="acerca-visible" class="row">
    <hr>
    <div class="col-sm-12">
      <p style="text-indent:2rem;">38 años, conservador, padre de 2. Maestro mayor de obras y estudiante avanzado de ingenieria civil. Apasionado por la electronica y el control 
        de procesos, como ser la robotica aplicada a la industria y el IoT. Cerca de mis 28 años se desperto mi interes en estudiar 
        electricidad industrial, automatismo y programacion avanzada. La pasion de la electronica
        y el saber me pusieron donde estoy hoy.
        <br>
        Mi primer experiencia en el mundo de la programacion, y casi la unica en forma cotideana, fue el uso de VisualBasic para programar 
        macros en Excel.
      </p>
    </div>
  </div>
</div>
