<div id="language-card" class="card">
  <div class="row"> 
    <div class="col-6"><h3>Idiomas</h3></div>
    <div class="col-6"><button id="chevron-lenguaje" onclick="desplegar('idiomas-visible','chevron-lenguaje')" 
      class="btn fa-solid float-end fa-chevron-up"></button>
      <a href="#info-foto" class="btn float-end fa-solid fa-home"></a>
      <button *ngIf="validate" class="btn float-end fa-solid fa-add"></button>
    </div>
  </div>
  <div id="idiomas-visible">
  <div class="row lh-1 mt-1" *ngFor="let idioma of idiomas.idiomas"> 
    <hr>
    <div class="col-sm-10">
      <ul>
      <li><div class="col-sm"><h4>{{idioma.idioma}}</h4></div>
        <ul class="no-list-style">
          <li><p><b>Oral: </b>{{idioma.oral}}</p></li>
          <li><p><b>Escrito: </b>{{idioma.escrito}}</p></li>
          <li><p><b>Comprension de texto: </b>{{idioma.comprension}}</p></li>
        </ul>
      </li>
      </ul>
    </div>
    <div class="col-sm-2">           
      <a href="#" class="ms-3 float-end">
        <span *ngIf="validate" class="fa-solid fa-lg fa-pencil"></span>
      </a>
      <a href="#" class="ms-5 float-end">
        <span *ngIf="validate" class="fa-solid fa-lg fa-trash-can"></span>
      </a>        
    </div>
  </div>
  </div>
</div>        
