<div id="language-card" class="card">
  <div class="row"> 
    <div class="col-6"><h3>Idiomas</h3></div>
    <div class="col-6">
      <button (click)="desplegar()" class="btn fa-solid float-end fa-chevron-up toggle"></button>
      <a href="portfolio#info-foto" class="btn float-end fa-solid fa-home"></a>
      <button *ngIf="validate"  class="btn float-end fa-solid fa-add" (click)="addItem()"></button>
    </div>
  </div>
  <app-idiomas-form 
  class="mb-5"
  *ngIf="showForm" 
  [editarIdioma]="idioma"
  (actualizarValor)="modifyComponent($event)"
  >
  </app-idiomas-form>
  <div *ngIf="!isHidden">
  <div class="row lh-1 mt-1" *ngFor="let idioma of idiomas"> 
    <hr>
    <div class="col-sm-10">
      <ul>
      <li><div class="col-sm"><h4>{{idioma.idioma}}</h4></div>
        <ul class="no-list-style">
          <li><p><b>Oral: </b>{{idioma.oral}}</p></li>
          <li><p><b>Escrito: </b>{{idioma.escrito}}</p></li>
          <li><p><b>Comprension de texto: </b>{{idioma.comprension}}</p></li>
        </ul>
      </li>
      </ul>
    </div>
    <div class="col-sm-2">           
      <button *ngIf="validate" class="btn ms-3 float-end" (click)="editItem(idioma)">
        <span class="fa-solid fa-lg fa-pencil"></span>
      </button>
      <button *ngIf="validate" class="btn ms-5 float-end" (click)="deleteItem(idioma)">
        <span class="fa-solid fa-lg fa-trash-can" ></span>
      </button>        
    </div>
  </div>
  </div>
</div>        
