<div class="modal fade" id="experienciasModal" tabindex="-1" z-index="10" aria-labelledby="experienciasModalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="experienciasModalLabel">Formulario Experiencias Laborales</h5>
            <button type="button" id="experienciasModalCloseButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

        <div class="modal-body">
            
            <form id="experiencias-form"
            class="was-validated" 
            [formGroup]="experienciasForm"
            (ngSubmit)="modifyComponent()"
            >
                <label for="experiencias-nombre">Nombre</label><br>
                <input
                    type="string" 
                    id="experiencias-nombre" 
                    style="width:100%" 
                    class="form-control" 
                    required
                    formControlName="nombre"><br>

                <label for="experiencias-empresa">Empresa</label><br>
                <input
                    type="string" 
                    id="experiencias-empresa" 
                    style="width:100%" 
                    class="form-control" 
                    required
                    formControlName="empresa"><br>


                <label for="experiencias-tareas">Tareas Realizadas</label><br>
                <input
                    type="string" 
                    id="experiencias-tareas" 
                    style="width:100%" 
                    class="form-control" 
                    required
                    formControlName="tareas"><br>

                <label for="experiencias-fechaInicio">Fecha de Inicio</label><br>
                <input
                    type="date" 
                    id="experiencias-fechaInicio" 
                    style="width:100%" 
                    class="form-control" 
                    required
                    formControlName="fechaInicio"><br>

                <label for="experiencias-fechaFin">Fecha de Fin</label><br>
                <input
                    type="date" 
                    id="experiencias-fechaFin"
                    style="width:100%" 
                    class="form-control" 
                    formControlName="fechaFin"><br>

                <label for="experiencias-lugar">Lugar</label><br>
                <input
                    type="text" 
                    id="experiencias-lugar" 
                    style="width:100%" 
                    class="form-control" 
                    formControlName="lugar"><br>


                <label for="experiencias-link">Link de empresa o trabajo</label><br>
                <input
                    type="text"
                    id="experiencias-link" 
                    style="width:100%" 
                    class="form-control" 
                    formControlName="link"><br>

                
                <button
                    type="submit"
                    class="btn m-3 btn-primary"
                    [disabled]="!experienciasForm.valid"
                >
                Guardar
                </button>
                <app-loader class="m-2" *ngIf="isLoading"></app-loader>

            </form>
        </div>
    </div>
</div>
</div>
