<div id="course-card" class="card">
  <div class="row"> 
    <div class="col-6"><h3>Cursos y conocimientos</h3></div>
    <div class="col-6">
      <button id="chevron-cursos" onclick= "desplegar('cursos-visible','chevron-cursos')" 
      class="btn fa-solid float-end fa-chevron-up"></button>
      <a href="#info-foto" class="btn float-end fa-solid fa-home"></a>
      <button class="btn float-end fa-solid fa-add"></button>
    </div>
  </div>
  <div id="cursos-visible">
    <hr>
    <div class="row lh-1 mt-4">
      <div class="col-sm-10">
        <ul>
        <li>
          <div><h4>Programacion con Micro PLC</h4></div>
          <div><p><b>Institucion:</b> UTN - Facultad Regional Resistencia</p></div>
          <div><p><b>Área:</b> Informatica</p></div>
          <div><p><b>Descripcion:</b> Programacion en micro PLC. Diagramas de bloque y ladder para programacion
          de micro PLC de (gama baja).</p></div>
          <div><p><b>Duracion:</b> 6 meses</p></div>
          <div><p><b>Nivel:</b> Universitario</p></div>
        </li>
        </ul>
      </div>
      <div class="col-sm-2">           
        <a href="#" class="ms-3 float-end">
          <span class="fa-solid fa-lg fa-pencil"></span>
        </a>
        <a href="#" class="ms-5 float-end"><span class="fa-solid fa-lg fa-trash-can"></span>
        </a>        
      </div>
    </div>
    <hr>
    <div class="row lh-1 mt-4">
      <div class="col-sm-10">
        <ul>
        <li>
          <div><h4>Programacion PLC S7-1200</h4></div>
          <div><p><b>Institucion:</b> UTN - Facultad Regional Resistencia</p></div>
          <div><p><b>Área:</b> Informatica</p></div>
          <div><p><b>Descripcion:</b> Programacion de PLC S7-1200 de Siemens. Programacion avanzada en PLC marca Siemens
          a traves del software TIA Portal (totaly integrated application). La gama S7 de Siemens representa la mas alta gama
          reles logicos programables.</p></div>
          <div><p><b>Duracion:</b> 6 meses</p></div>
          <div><p><b>Nivel:</b> Universitario</p></div>
        </li>
        </ul>
      </div>
      <div class="col-sm-2">           
        <a href="#" class="ms-3 float-end">
          <span class="fa-solid fa-lg fa-pencil"></span>
        </a>
        <a href="#" class="ms-5 float-end">
          <span class="fa-solid fa-lg fa-trash-can"></span>
        </a>        
      </div>
    </div>
    <hr>
    <div class="row lh-1 mt-4">
    <div class="col-sm-10">
      <ul>
      <li>
        <div><h4>Instalaciones Electricas Domiciliarias</h4></div>
        <div><p><b>Institucion:</b> Universidad del Chaco Austral (UNCAUS)</p></div>
        <div><p><b>Área:</b> Ingenieria</p></div>
        <div><p><b>Descripcion:</b> Calculo de potencia, tableros, seccion de cables, protecciones, cañerias, etc. 
        Elaboracion de proyecto ejecutivo en vivienda unifamiliar. </p></div>
        <div><p><b>Duracion:</b> 6 meses</p></div>
        <div><p><b>Nivel:</b> Universitario</p></div>
      </li>
      </ul>
    </div>
    <div class="col-sm-2">           
      <a href="#" class="ms-3 float-end">
        <span class="fa-solid fa-lg fa-pencil"></span>
      </a>
      <a href="#" class="ms-5 float-end">
        <span class="fa-solid fa-lg fa-trash-can"></span>
      </a>        
    </div>
  </div>
  </div>
</div>
