<div id="course-card" class="card">
  <div class="row"> 
    <div class="col-6"><h3>Cursos y conocimientos</h3></div>
    <div class="col-6">
      <button (click)="desplegar()" class="btn fa-solid float-end fa-chevron-up toggle"></button>
      <a href="portfolio#info-foto" class="btn float-end fa-solid fa-home"></a>
      <button *ngIf="usuarioAutenticado" class="btn float-end fa-solid fa-add" (click)="newItem()"></button>
    </div>
  </div>
  
  <app-conocimientos-form 
    class="mb-5"
    id="conocimientos-form" 
    *ngIf="showForm" 
    [editarConocimiento]="conocimiento"
    (actualizarValor)="modifyComponent($event)">
  </app-conocimientos-form >
  <app-loader *ngIf="loading">
  </app-loader>

  <div *ngIf="!isHidden">
    <div *ngFor="let conocimiento of conocimientos" class="row lh-1 mt-4">
      <hr>
      <div class="col-sm-10">
        <ul>
        <li>
          <div><h4>{{conocimiento.nombre}}</h4></div>
          <div><p><b>Institucion: </b>{{conocimiento.institucion}}</p></div>
          <div><p><b>Área: </b>{{conocimiento.area}}</p></div>
          <div><p><b>Descripcion: </b>{{conocimiento.descripcion}}</p></div>
          <div><p><b>Duracion: </b>{{conocimiento.duracion}} meses</p></div>
          <div *ngIf="conocimiento.nivel"><p><b>Nivel: </b>{{conocimiento.nivel}}</p></div>
        </li>
        </ul>
      </div>
      <div class="col-sm-2">           
        <button *ngIf="usuarioAutenticado" class="btn ms-3 float-end" (click)="editItem(conocimiento)">
          <span class="fa-solid fa-lg fa-pencil"></span>
        </button>
        <button *ngIf="usuarioAutenticado" class="btn ms-5 float-end" (click)="deleteItem(conocimiento)">
          <span class="fa-solid fa-lg fa-trash-can" ></span>
        </button>        
      </div>
      </div>
  </div>
</div>
