<div id="contenedor" class="contenedor-sidebar"  onmouseover="deploy()" onmouseleave="reset()">
    <div id="mySidebar" class="sidebar">
      <a class="btn m-1" href="#">Ir arriba</a>
      <a class="btn m-1" href="#aboutme-card">Acerca de mi</a>
      <a class="btn m-1" href="#skills-card">Habilidades</a>
      <a class="btn m-1" href="#knowledge-card">Estudios</a>
      <a class="btn m-1" href="#language-card">Idiomas</a>
      <a class="btn m-1" href="#expertize-card">Experiencia</a>
      <a class="btn m-1" href="#course-card">Conocimientos</a>
    </div>
    <div id="boton-sidebar">
      <span id="boton-sidebar-chevron" class="btn fa-solid fa-xl fa-chevron-right"></span>
    </div>
  </div>

