<div id="contenedor" class="contenedor-sidebar"  onmouseover="deploy()" onmouseleave="reset()">
    <div id="mySidebar" class="sidebar">
      <a class="btn m-1" href="portfolio#">Ir arriba</a>
      <a class="btn m-1" href="portfolio#aboutme-card">Acerca de mi</a>
      <a class="btn m-1" href="portfolio#skills-card">Habilidades</a>
      <a class="btn m-1" href="portfolio#knowledge-card">Estudios</a>
      <a class="btn m-1" href="portfolio#language-card">Idiomas</a>
      <a class="btn m-1" href="portfolio#expertize-card">Experiencia</a>
      <a class="btn m-1" href="portfolio#course-card">Conocimientos</a>
    </div>
    <div id="boton-sidebar">
      <span id="boton-sidebar-chevron" class="btn fa-solid fa-xl fa-chevron-right"></span>
    </div>
  </div>

