<div id="skills-card" class="card">
  <div class="row"> 
    <div class="col-6">
        <h3>Habilidades</h3>
    </div>
    <div class="col-6">
      <button (click)="desplegar()" class="btn fa-solid float-end fa-chevron-up toggle"></button>
      <a href="#info-foto" class="btn float-end fa-solid fa-home"></a>
      <button *ngIf="validate" class="btn float-end fa-solid fa-add" (click)="addItem()"></button>
    </div>
  </div>
  <app-habilidades-form 
    *ngIf="showForm" 
    (actualizarValor)="modifyComponent($event)">
  </app-habilidades-form>
  <div *ngIf="!isHidden">
    <hr>
  <div class="row">
    <div class="col-sm-6">
        <div><h4><u>Soft Skills</u></h4></div>
        <div *ngFor="let soft of softskills" class="progress">
          <div class="progress-bar progress-bar-striped" [style.width.%]="soft.cantidad">
            {{soft.nombre}} - {{soft.cantidad}}%
          </div>
          <div class="progress-bar bg-transparent mx-auto" ></div>
          <button *ngIf="validate" (click)="deleteItem(soft)" class="btn fa-solid fa-trash-can float-end">
          </button>
        </div>
        </div>
        <div class="col-sm-6">
          <div><h4><u>Hard Skills</u></h4></div>
          <div *ngFor="let hard of hardskills" class="progress">
            <div class="progress-bar progress-bar-striped" [style.width.%]="hard.cantidad">
              {{hard.nombre}} - {{hard.cantidad}}%
            </div>
            <div class="progress-bar bg-transparent mx-auto" ></div>
            <button *ngIf="validate" (click)="deleteItem(hard)" class="btn fa-solid fa-trash-can float-end">
            </button>
          </div>
          </div>
    </div>
</div>
</div>