<div id="knowledge-card" class="card">
  <div class="row"> 
    <div class="col-6">
      <h3>Estudios</h3>
    </div>        
    <div class="col-6">
      <button (click)="desplegar()" class="btn fa-solid float-end fa-chevron-up toggle"></button>
      <a href="portfolio#info-foto" class="btn float-end fa-solid fa-home"></a>
      <button *ngIf="validate" class="btn float-end fa-solid fa-add" (click)="addItem()"></button>
    </div>
  </div>
  <app-estudios-form 
    class="mb-5"
    *ngIf="showForm" 
    [editarEstudio]="estudio"
    (actualizarValor)="modifyComponent($event)"
    id="estudios-form"
    >
  </app-estudios-form>
  <app-loading *ngIf="loading">
  </app-loading>
  <div *ngIf="!isHidden">
    <div *ngFor="let estudio of estudios" class="row lh-1 mt-4">
    <hr>
  <div class="col-sm-6">
    <ul>
      <li>
        <div><h4>{{estudio.titulo}}</h4></div>
        <div><p><b>Nivel educativo: </b>{{estudio.nivel}}</p></div>
        <div><p><b>Establecimiento: </b>{{estudio.institucion}}</p></div>
        <div><p><b>Lugar: </b>{{estudio.lugar}}</p></div>
      </li>
    </ul>
  </div>
  <div class="col-sm-4">           
    <ul class="no-list-style">  
      <li><p><b>Año de ingreso: </b>{{estudio.fechaInicio | date:"yyyy"}}</p></li>
      <li *ngIf="estudio.fechaFin !== ''; else elseBlock"><p><b>Año de egreso: </b>{{estudio.fechaFin | date:"yyyy"}}</p></li>
      <ng-template #elseBlock><li><p><b>Año de egreso: </b>incompleto</p></li></ng-template>
      <li><p><b>Promedio: </b>{{estudio.promedio}}</p></li>
      <li *ngIf="estudio.link"><p><b>Link: </b> <a [href]="estudio.link" target="_blank">{{estudio.link}}</a></p></li>
    </ul>
  </div>
  <div class="col-sm-2">           
    <button *ngIf="validate" class="btn ms-3 float-end" (click)="editItem(estudio)">
      <span class="fa-solid fa-lg fa-pencil"></span>
    </button>
    <button *ngIf="validate" class="btn ms-5 float-end" (click)="deleteItem(estudio)">
      <span class="fa-solid fa-lg fa-trash-can" ></span>
    </button>        
</div>
</div>
</div>
</div>