<div id="knowledge-card" class="card">
  <div class="row"> 
    <div class="col-6">
      <h3>Estudios</h3>
    </div>        
    <div class="col-6">
      <button id="chevron-estudios" onclick="desplegar('estudio-visible','chevron-estudios')" 
      class="btn fa-solid float-end fa-chevron-up">
      </button>
      <a href="#info-foto" class="btn float-end fa-solid fa-home"></a>
      <button class="btn float-end fa-solid fa-add"></button>
    </div>
  </div>
  <div id="estudio-visible">
  <hr>
  <div class="row lh-1 mt-4">
  <div class="col-sm-6">
    <ul>
      <li>
        <div><h4>Maestro mayor de obras</h4></div>
        <div><p><b>Nivel educativo:</b> Secundario</p></div>
        <div><p><b>Establecimiento:</b> EPET N°1</p></div>
        <div><p><b>Lugar: </b>Grande, Tierra del Fuego</p></div>
      </li>
    </ul>
  </div>
  <div class="col-sm-4">           
    <ul class="no-list-style">  
      <li><p><b>Año de ingreso:</b> 1996</p></li>
      <li><p><b>Año de egreso:</b> 2002</p></li>
      <li><p><b>Promedio:</b> 8.34</p></li>
      <li><p><b>Link: </b> <a href="http://www.epetrg.edu.ar/" target="_blank">http://www.epetrg.edu.ar/</a></p></li>
    </ul>
  </div>
  <div class="col-sm-2">           
    <a href="#" class="float-end ms-3">
      <span class="fa-solid fa-lg fa-pencil"></span>
    </a>
    <a href="#" class="ms-5 float-end">
      <span class="fa-solid fa-lg fa-trash-can"></span>
    </a>        
  </div>
</div>
<hr>
<div class="row lh-1 mt-4">
  <div class="col-sm-6">
    <ul>
    <li>
      <div><h4>Ingeniero Civil</h4></div>
      <div><p><b>Nivel educativo:</b> Universitario</p></div>
      <div><p><b>Establecimiento:</b> U.N.L.P. - Universidad Nacional de La Plata</p></div>
      <div><p><b>Lugar: </b>La Plata, Buenos Aires</p></div>
    </li>
    </ul>
  </div>
  <div class="col-sm-4">           
    <ul class="no-list-style"> 
      <li><p><b>Año de ingreso:</b> 2002</p></li>
      <li><p><b>Año de egreso:</b> Incompleto</p></li>
      <li><p><b>Promedio:</b> 7.66</p></li>
      <li><p><b>Link: </b> <a href="https://unlp.edu.ar/" target="_blank">https://unlp.edu.ar/</a></p></li>
    </ul>
  </div>
  <div class="col-sm-2">           
    <a href="#" class="ms-3 float-end">
      <span class="fa-solid fa-lg fa-pencil"></span>
    </a>
    <a href="#" class="ms-5 float-end">
      <span class="fa-solid fa-lg fa-trash-can"></span>
    </a>        
  </div>
</div>
</div>
</div>