<div class="modal fade" id="info-contacto">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h4 class="modal-title">INFORMACION DE CONTACTO</h4>
          <button type="button" id="btn-modal" class="btn fa-solid fa-lg fa-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body bg-dark">
          <p>Direccion correo electronico: <a href="mailto: dahiebl@gmail.com">dahiebl@gmail.com</a></p>
          <p>Whatsapp: <a href="https://api.whatsapp.com/send?phone=5493774419374" target="_blank">+54 9 3774 419374</a></p>
          <p>GitHUB: <a href="https://github.com/sirnas1983" target="_blank">Ir a mi repositorio remoto</a></p>
        </div>
      </div>
    </div>
  </div>
