<div class="modal fade" id="info-contacto">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h4 class="modal-title">INFORMACION DE CONTACTO</h4>
          <button type="button" id="btn-modal" class="btn fa-solid fa-lg fa-close" data-bs-dismiss="modal">
          </button>
        </div>
        <div class="modal-body bg-dark">
          <p *ngIf="general.email">
            Direccion correo electronico: 
            <a [href]="'mailto:' + general.email" target="_blank">{{general.email}}</a>
          </p>
          <p *ngIf="general.whatsapp">Whatsapp: 
            <a [href]="'https://api.whatsapp.com/send?phone=' + general.whatsapp.replace('+','')" target="_blank">
              {{general.whatsapp}}</a>
          </p>
          <p *ngIf="general.repositorio">
            Repositorio: 
            <a [href]="general.repositorio" target="_blank">
            IR A MI REPOSITORIO
            </a>
          </p>
          <p *ngIf="general.facebook">
            FACEBOOK:
            <a [href]="general.facebook" target="_blank">IR A MI FACEBOOK</a>
          </p>
          <p *ngIf="general.instagram">
            INSTAGRAM: 
            <a [href]="general.instagram" target="_blank">IR A MI INSTAGRAM</a>
          </p>
          <p *ngIf="general.tweeter">TWEETER: 
            <a [href]="general.tweeter" target="_blank">IR A MI TWEETER</a>
          </p>
        </div>
    </div>
    </div>
  </div>
