<div id="navbar" class="navbar navbar-expand-sm bg-dark">

  <ul class="container-fluid ms-2" id="navbar-links-list">
      <li class="nav-item navbar-brand">
        <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
          <img src="../../assets/ico/APLogo-20-21.png" alt="Logo argentina programa" 
          class="light-icon rounded navbar-images">
        </a>
      </li>
      <li class="nav-item float-start navbar-images m3-1">
        <h4 class="vertical-align text-white">#YoProgramo</h4>
      </li>
      <li class="nav-item mx-auto">
      </li>   
      <li class="nav-item">
        <div class="btn-group float-end">
          <!--<a>-->
            <button type="button" 
            (click)="iniciarSesion()"
            class="btn btn-primary float-end" 
            *ngIf="!usuarioAutenticado && !isLoggin"
            style="width: 80px;">
            Login
            </button>
          <!--</a>-->
          <!--<a>-->
            <button type="button" 
              class="btn btn-danger float-end" 
              *ngIf="usuarioAutenticado" 
              (click)="cerrarSesion($event)"
              style="width: 80px;">
            Logout
            </button>
          <!--</a>-->
          <!--<a>
            <button type="button" 
              class="ms-3 btn btn-warning float-end" 
              *ngIf="logginIn" 
              (click)="volver()"
              style="width: 100px;">
            Volver
            </button>
          </a>-->
        </div>
      </li>
  </ul>
</div> 

