<div id="navbar" class="navbar navbar-expand-sm bg-dark">
  <ul class="container-fluid ms-2" id="navbar-links-list">
      <li class="nav-item navbar-brand">
        <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
          <img src="../../assets/ico/APLogo-20-21.png" alt="Logo argentina programa" 
          class="light-icon rounded navbar-images">
        </a>
      </li>
      <li class="nav-item float-start navbar-images">
        <h4 class="vertical-align text-white">#YoProgramo</h4>
      </li>
      <li class="nav-item mx-auto">
      </li>
      <li class="nav-item">
        <div class="btn-group float-end">
          <a href="" data-bs-toggle="modal" data-bs-target="#modal-login">
            <button type="button" class="btn btn-primary float-end" 
            *ngIf="!validate">
            Login
            </button>
          </a>
          <a href="">
            <button type="button" class="btn btn-primary float-end" 
            *ngIf="validate">
            Logout
            </button>
          </a>
        </div>
      </li>
  </ul>
</div> 
